<a href="https://colab.research.google.com/github/Wolf123987/To-get-MACD-crossover-signal-of-stocks-of-NSE./blob/main/To_get_MACD_crossover_signal_of_stocks_of_NSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance  ## installing yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [3]:
import yfinance as yf ## intalling required libraries 
import pandas as pd 
import datetime as dt
from pytz import timezone

In [72]:
date_time=dt.datetime.now(timezone("Asia/Kolkata"))  ## current time of india

In [73]:
date_time

datetime.datetime(2022, 12, 10, 16, 28, 45, 83244, tzinfo=<DstTzInfo 'Asia/Kolkata' IST+5:30:00 STD>)

In [4]:
d=yf.download("TCS.NS",period="1mo") ## to download price data of a stock

[*********************100%***********************]  1 of 1 completed

In [78]:
d

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-11-09,3249.800049,3249.800049,3201.649902,3216.050049,3216.050049,1162267
2022-11-10,3170.000000,3225.000000,3170.000000,3205.649902,3205.649902,1573092
2022-11-11,3269.600098,3341.600098,3255.050049,3315.949951,3315.949951,3265394
2022-11-14,3324.000000,3349.000000,3309.000000,3335.500000,3335.500000,1342074
2022-11-15,3321.000000,3339.949951,3292.000000,3332.600098,3332.600098,1400708
2022-11-16,3338.899902,3367.899902,3321.449951,3355.350098,3355.350098,1748235
2022-11-17,3340.000000,3360.000000,3317.750000,3349.000000,3349.000000,1417986
2022-11-18,3350.000000,3362.750000,3321.000000,3343.449951,3343.449951,1164540
2022-11-21,3322.500000,3333.699951,3273.000000,3283.500000,3283.500000,1304194
2022-11-22,3280.000000,3318.949951,3255.250000,3314.949951,3314.949951,1149739
2022-11-23,3330.000000,3330.000000,3291.000000,3308.300049,3308.300049,1150011
2022-11-24,3316.250000,3392.949951,3308.300049,3380.149902,3380.149902,1296591
2022-11-25,3383.000000,3403.350098,3348.000000,3389.649902,3389.649902,1588981
2022-11-28,3366.000000,3417.000000,3365.550049,3395.250000,3395.250000,2195437
2022-11-29,3383.000000,3429.000000,3383.000000,3397.350098,3397.350098,1576028
2022-11-30,3383.000000,3414.899902,3375.000000,3390.800049,3390.800049,3410702
2022-12-01,3425.000000,3480.000000,3420.000000,3475.649902,3475.649902,2180856
2022-12-02,3458.100098,3468.899902,3413.000000,3439.149902,3439.149902,2411749
2022-12-05,3433.000000,3439.149902,3407.000000,3425.899902,3425.899902,1475065
2022-12-06,3400.050049,3407.949951,3368.000000,3385.350098,3385.350098,1166999
2022-12-07,3368.300049,3393.699951,3354.000000,3380.600098,3380.600098,1167505
2022-12-08,3360.000000,3380.600098,3339.449951,3350.550049,3350.550049,1285619
2022-12-09,3374.100098,3374.100098,3276.350098,3292.750000,3292.750000,1797896

In [5]:
stocks=["TCS.NS","INFY.NS","PIDILITIND.NS","NAUKRI.NS","ASIANPAINT.NS","ABCAPITAL.NS","PIIND.NS","MINDACORP.NS","BAJAJFINSV.NS","BORORENEW.NS","ESCORTS.NS"] ## for getting data of multiple stocks

In [6]:
start=dt.datetime.today()-dt.timedelta(30)  # to get price data of last 30 days ,it can be more than 30 days 
end=dt.datetime.today()
cl_price=pd.DataFrame()
ohlcv_data={}

for ticker in stocks:
    cl_price[ticker]=yf.download(ticker,start,end)["Adj Close"]  ## to get  adjustive price of  slected stocks

for ticker in stocks :
    ohlcv_data[ticker]=yf.download(ticker,start,end)  ##  to get open-high-low-close-volume of selected stocks

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
ohlcv_data

{'TCS.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  3290.000000  3293.000000  3192.449951  3219.600098  3202.834717
 2022-06-14  3190.000000  3238.899902  3174.699951  3210.550049  3193.832031
 2022-06-15  3218.500000  3234.000000  3201.000000  3206.300049  3189.604004
 2022-06-16  3240.000000  3244.850098  3133.050049  3142.000000  3125.638916
 2022-06-17  3092.000000  3118.750000  3023.850098  3088.899902  3072.815186
 ...                 ...          ...          ...          ...          ...
 2022-12-05  3433.000000  3439.149902  3407.000000  3425.899902  3425.899902
 2022-12-06  3400.050049  3407.949951  3368.000000  3385.350098  3385.350098
 2022-12-07  3368.300049  3393.699951  3354.000000  3380.600098  3380.600098
 2022-12-08  3360.000000  3380.600098  3339.449951  3350.550049  3350.550049
 2022-12-09  3374.100098  3374.100098  3276.350098  3292.750000  3292.750000

              Volume
 Date
 2022-06-13  3030921
 2022-06-14  2611493
 2022-06-15  1404536
 2022-06-16  2032028
 2022-06-17  5240434
 ...             ...
 2022-12-05  1475065
 2022-12-06  1166999
 2022-12-07  1167505
 2022-12-08  1285619
 2022-12-09  1797896

 [124 rows x 6 columns],
 'INFY.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  1443.599976  1443.599976  1411.699951  1424.500000  1409.100586
 2022-06-14  1410.000000  1448.900024  1403.150024  1440.550049  1424.977051
 2022-06-15  1440.199951  1446.400024  1418.849976  1422.199951  1406.825317
 2022-06-16  1438.000000  1443.750000  1392.000000  1397.199951  1382.095581
 2022-06-17  1391.050049  1396.949951  1367.150024  1387.300049  1372.302734
 ...                 ...          ...          ...          ...          ...
 2022-12-05  1638.000000  1644.849976  1623.300049  1639.750000  1639.750000
 2022-12-06  1625.000000  1626.000000  1607.550049  1612.900024  1612.900024
 2022-12-07  1608.000000  1623.800049  1596.699951  1605.500000  1605.500000
 2022-12-08  1605.500000  1623.900024  1598.500000  1620.150024  1620.150024
 2022-12-09  1628.000000  1628.000000  1561.099976  1569.300049  1569.300049

              Volume
 Date
 2022-06-13  6987685
 2022-06-14  6090247
 2022-06-15  4651958
 2022-06-16  6641772
 2022-06-17  9692047
 ...             ...
 2022-12-05  3824966
 2022-12-06  4822398
 2022-12-07  4898087
 2022-12-08  4206837
 2022-12-09  8880658

 [124 rows x 6 columns],
 'PIDILITIND.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  2052.050049  2142.000000  2052.050049  2132.449951  2123.310791
 2022-06-14  2115.000000  2148.000000  2108.050049  2120.100098  2111.013916
 2022-06-15  2137.750000  2144.000000  2104.000000  2112.649902  2103.595703
 2022-06-16  2150.000000  2150.000000  2080.000000  2097.050049  2088.062500
 2022-06-17  2071.100098  2097.000000  1988.550049  1999.449951  1990.880859
 ...                 ...          ...          ...          ...          ...
 2022-12-05  2728.100098  2739.850098  2694.000000  2733.800049  2733.800049
 2022-12-06  2724.000000  2779.000000  2720.250000  2757.199951  2757.199951
 2022-12-07  2775.000000  2796.000000  2764.000000  2772.399902  2772.399902
 2022-12-08  2790.000000  2792.899902  2754.100098  2761.750000  2761.750000
 2022-12-09  2767.949951  2781.550049  2720.000000  2739.649902  2739.649902

             Volume
 Date
 2022-06-13  753593
 2022-06-14  248772
 2022-06-15  204558
 2022-06-16  266206
 2022-06-17  942457
 ...            ...
 2022-12-05  339575
 2022-12-06  502915
 2022-12-07  437482
 2022-12-08  252147
 2022-12-09  234682

 [124 rows x 6 columns],
 'NAUKRI.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  3501.000000  3636.500000  3501.000000  3614.050049  3600.779541
 2022-06-14  3614.000000  3620.949951  3535.050049  3607.600098  3594.353516
 2022-06-15  3623.949951  3677.800049  3600.449951  3643.750000  3630.370605
 2022-06-16  3680.550049  3718.000000  3574.199951  3611.250000  3597.989746
 2022-06-17  3616.399902  3647.750000  3530.000000  3598.250000  3585.037842
 ...                 ...          ...          ...          ...          ...
 2022-12-05  4051.000000  4073.949951  3997.199951  4056.449951  4056.449951
 2022-12-06  4040.000000  4097.000000  4037.899902  4053.149902  4053.149902
 2022-12-07  4048.000000  4066.000000  3954.000000  3970.449951  3970.449951
 2022-12-08  3973.000000  4038.949951  3955.000000  4015.350098  4015.350098
 2022-12-09  4028.000000  4045.000000  3996.050049  4015.000000  4015.000000

             Volume
 Date
 2022-06-13  422975
 2022-06-14  430368
 2022-06-15  228374
 2022-06-16  516775
 2022-06-17  577354
 ...            ...
 2022-12-05  336839
 2022-12-06  248968
 2022-12-07  249381
 2022-12-08  246407
 2022-12-09  416740

 [124 rows x 6 columns],
 'ASIANPAINT.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  2669.949951  2683.000000  2642.500000  2660.750000  2656.915771
 2022-06-14  2617.000000  2666.350098  2585.000000  2635.399902  2631.602295
 2022-06-15  2650.000000  2683.600098  2627.100098  2661.149902  2657.315186
 2022-06-16  2694.949951  2725.449951  2640.000000  2657.449951  2653.620605
 2022-06-17  2650.100098  2657.000000  2560.000000  2580.199951  2576.481934
 ...                 ...          ...          ...          ...          ...
 2022-12-05  3130.000000  3168.699951  3112.500000  3156.899902  3156.899902
 2022-12-06  3125.000000  3169.000000  3125.000000  3161.699951  3161.699951
 2022-12-07  3180.000000  3234.699951  3176.399902  3226.500000  3226.500000
 2022-12-08  3230.000000  3240.899902  3202.649902  3221.449951  3221.449951
 2022-12-09  3235.000000  3242.350098  3206.000000  3226.949951  3226.949951

              Volume
 Date
 2022-06-13  1674206
 2022-06-14  2296040
 2022-06-15   928842
 2022-06-16  1280628
 2022-06-17  2043251
 ...             ...
 2022-12-05   926122
 2022-12-06   958365
 2022-12-07  1832282
 2022-12-08   851312
 2022-12-09   847879

 [124 rows x 6 columns],
 'ABCAPITAL.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-06-13   99.449997   99.449997   94.949997   95.099998   95.099998
 2022-06-14   94.000000   97.300003   94.000000   94.949997   94.949997
 2022-06-15   95.500000   97.000000   95.199997   96.300003   96.300003
 2022-06-16   97.449997   97.550003   91.500000   92.199997   92.199997
 2022-06-17   90.000000   92.500000   90.000000   90.949997   90.949997
 ...                ...         ...         ...         ...         ...
 2022-12-05  152.500000  159.199997  151.500000  158.649994  158.649994
 2022-12-06  158.500000  161.250000  156.550003  158.449997  158.449997
 2022-12-07  158.149994  161.699997  157.699997  159.550003  159.550003
 2022-12-08  159.550003  162.449997  158.649994  160.800003  160.800003
 2022-12-09  161.600006  161.600006  153.350006  156.000000  156.000000

               Volume
 Date
 2022-06-13   2771441
 2022-06-14   2170914
 2022-06-15   1870176
 2022-06-16   2282738
 2022-06-17   3256259
 ...              ...
 2022-12-05  18326577
 2022-12-06  11192515
 2022-12-07   7365362
 2022-12-08   5081341
 2022-12-09   7830852

 [124 rows x 6 columns],
 'PIIND.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  2566.149902  2599.500000  2537.100098  2593.199951  2590.901367
 2022-06-14  2585.000000  2600.949951  2526.350098  2541.100098  2538.847656
 2022-06-15  2538.350098  2608.000000  2532.100098  2594.050049  2591.750732
 2022-06-16  2594.899902  2624.800049  2505.050049  2534.300049  2532.053711
 2022-06-17  2500.100098  2532.949951  2460.199951  2473.300049  2471.107666
 ...                 ...          ...          ...          ...          ...
 2022-12-05  3470.000000  3535.000000  3466.050049  3481.600098  3481.600098
 2022-12-06  3488.000000  3495.000000  3433.050049  3456.449951  3456.449951
 2022-12-07  3442.000000  3495.000000  3434.000000  3467.649902  3467.649902
 2022-12-08  3488.500000  3504.399902  3443.300049  3475.050049  3475.050049
 2022-12-09  3475.100098  3512.949951  3427.500000  3452.850098  3452.850098

             Volume
 Date
 2022-06-13  186971
 2022-06-14  187257
 2022-06-15  152287
 2022-06-16  221656
 2022-06-17  271931
 ...            ...
 2022-12-05  237757
 2022-12-06  141845
 2022-12-07  145367
 2022-12-08  143911
 2022-12-09  138028

 [124 rows x 6 columns],
 'MINDACORP.NS':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-06-13  190.000000  191.500000  187.500000  189.100006  187.927612
 2022-06-14  188.000000  191.350006  186.449997  188.050003  186.884125
 2022-06-15  188.000000  190.649994  187.199997  187.899994  186.735031
 2022-06-16  189.500000  195.750000  180.000000  181.949997  180.821930
 2022-06-17  178.500000  183.600006  175.750000  178.850006  177.741165
 ...                ...         ...         ...         ...         ...
 2022-12-05  224.800003  229.000000  219.399994  221.050003  221.050003
 2022-12-06  221.000000  222.500000  218.199997  219.850006  219.850006
 2022-12-07  220.800003  221.600006  214.000000  214.550003  214.550003
 2022-12-08  215.449997  216.300003  213.500000  214.250000  214.250000
 2022-12-09  215.000000  216.899994  209.149994  212.949997  212.949997

              Volume
 Date
 2022-06-13   372540
 2022-06-14   301670
 2022-06-15   250398
 2022-06-16   690294
 2022-06-17   530123
 ...             ...
 2022-12-05  1153633
 2022-12-06   278992
 2022-12-07   238423
 2022-12-08   182443
 2022-12-09   228964

 [124 rows x 6 columns],
 'BAJAJFINSV.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  1200.000000  1200.000000  1135.000000  1138.604980  1138.194946
 2022-06-14  1138.500000  1157.765015  1126.505005  1133.650024  1133.241821
 2022-06-15  1140.000000  1187.000000  1140.000000  1180.969971  1180.544678
 2022-06-16  1202.500000  1206.979980  1141.104980  1147.189941  1146.776855
 2022-06-17  1136.005005  1186.439941  1135.000000  1175.484985  1175.061768
 ...                 ...          ...          ...          ...          ...
 2022-12-05  1650.000000  1655.000000  1631.400024  1634.199951  1634.199951
 2022-12-06  1630.000000  1646.900024  1628.000000  1635.250000  1635.250000
 2022-12-07  1635.400024  1642.000000  1593.000000  1606.699951  1606.699951
 2022-12-08  1610.000000  1621.800049  1600.199951  1618.599976  1618.599976
 2022-12-09  1622.000000  1626.949951  1582.000000  1598.599976  1598.599976

              Volume
 Date
 2022-06-13  4877320
 2022-06-14  3669480
 2022-06-15  4962890
 2022-06-16  3940410
 2022-06-17  4193620
 ...             ...
 2022-12-05  1383542
 2022-12-06  1177485
 2022-12-07  2376490
 2022-12-08  1161239
 2022-12-09  1766412

 [124 rows x 6 columns],
 'BORORENEW.NS':                   Open        High         Low       Close   Adj Close  Volume
 Date
 2022-06-13  622.400024  624.700012  609.000000  617.099976  617.099976  350721
 2022-06-14  606.000000  634.000000  606.000000  624.200012  624.200012  306566
 2022-06-15  636.900024  643.700012  628.000000  632.900024  632.900024  178898
 2022-06-16  644.000000  646.700012  608.099976  612.549988  612.549988  361618
 2022-06-17  609.000000  632.000000  590.049988  614.099976  614.099976  406711
 ...                ...         ...         ...         ...         ...     ...
 2022-12-05  539.000000  551.950012  538.750000  546.799988  546.799988  195672
 2022-12-06  545.900024  549.799988  538.000000  539.799988  539.799988  104853
 2022-12-07  541.900024  545.799988  538.000000  540.400024  540.400024  100454
 2022-12-08  540.000000  542.400024  529.099976  531.049988  531.049988  137143
 2022-12-09  533.349976  538.700012  524.200012  528.200012  528.200012  144665

 [124 rows x 6 columns],
 'ESCORTS.NS':                    Open         High          Low        Close    Adj Close  \
 Date
 2022-06-13  1564.000000  1564.599976  1534.599976  1546.550049  1539.129272
 2022-06-14  1535.250000  1567.000000  1535.250000  1545.400024  1537.984741
 2022-06-15  1562.000000  1578.150024  1538.050049  1568.550049  1561.023682
 2022-06-16  1584.000000  1604.699951  1548.099976  1559.750000  1552.265869
 2022-06-17  1546.000000  1550.000000  1491.449951  1500.900024  1493.698242
 ...                 ...          ...          ...          ...          ...
 2022-12-05  2343.199951  2347.000000  2308.000000  2322.500000  2322.500000
 2022-12-06  2315.000000  2337.100098  2291.149902  2298.000000  2298.000000
 2022-12-07  2295.000000  2303.750000  2273.050049  2287.199951  2287.199951
 2022-12-08  2290.000000  2316.949951  2275.199951  2289.449951  2289.449951
 2022-12-09  2301.500000  2344.899902  2265.199951  2286.149902  2286.149902

             Volume
 Date
 2022-06-13  182111
 2022-06-14  122655
 2022-06-15  143930
 2022-06-16  281916
 2022-06-17  547680
 ...            ...
 2022-12-05  337111
 2022-12-06  284439
 2022-12-07  192933
 2022-12-08  179328
 2022-12-09  420708

 [124 rows x 6 columns]}

In [92]:
cl_price

,TCS.NS,INFY.NS,PIDILITIND.NS,NAUKRI.NS,ASIANPAINT.NS,ABCAPITAL.NS,PIIND.NS,MINDACORP.NS,BAJAJFINSV.NS,BORORENEW.NS,ESCORTS.NS
Date,,,,,,,,,,,
2022-11-10,3205.649902,1501.949951,2656.350098,3805.386475,3045.149902,129.250000,3494.500000,207.850006,1700.349976,550.400024,2020.449951
2022-11-11,3315.949951,1570.099976,2661.199951,4089.707275,3055.399902,128.449997,3434.949951,202.600006,1719.250000,547.200012,1984.300049
2022-11-14,3335.500000,1585.300049,2654.550049,4349.689941,3053.199951,130.399994,3400.500000,203.800003,1718.349976,543.000000,1990.199951
2022-11-15,3332.600098,1594.000000,2675.000000,4144.067871,3079.300049,128.100006,3427.850098,210.149994,1708.500000,548.900024,2012.849976
2022-11-16,3355.350098,1602.800049,2682.449951,4137.185059,3083.050049,125.699997,3379.250000,214.449997,1685.650024,540.950012,2016.500000
2022-11-17,3349.000000,1587.400024,2693.199951,3897.550049,3071.600098,125.800003,3371.500000,210.949997,1664.599976,547.400024,2015.400024
2022-11-18,3343.449951,1593.400024,2699.250000,3894.750000,3095.500000,125.000000,3299.000000,209.199997,1654.400024,537.650024,2030.849976
2022-11-21,3283.500000,1568.199951,2662.000000,3878.350098,3095.300049,126.349998,3326.449951,204.850006,1635.849976,524.950012,2196.050049
2022-11-22,3314.949951,1585.050049,2696.949951,3853.600098,3103.850098,125.699997,3335.100098,206.449997,1643.349976,518.349976,2212.300049
2022-11-23,3308.300049,1583.150024,2696.449951,3848.100098,3100.800049,129.000000,3376.250000,207.600006,1636.199951,537.299988,2213.600098
2022-11-24,3380.149902,1629.800049,2703.899902,3862.050049,3115.300049,128.949997,3389.649902,204.399994,1634.000000,544.650024,2185.399902
2022-11-25,3389.649902,1635.650024,2662.100098,3954.600098,3108.149902,135.300003,3384.050049,202.500000,1633.699951,542.400024,2288.350098
2022-11-28,3395.250000,1623.400024,2692.350098,3940.100098,3151.199951,137.050003,3421.949951,204.600006,1652.849976,541.799988,2268.750000
2022-11-29,3397.350098,1629.050049,2727.949951,3961.149902,3135.050049,144.100006,3375.000000,202.300003,1632.000000,539.799988,2262.250000
2022-11-30,3390.800049,1634.949951,2748.699951,3993.600098,3175.149902,145.350006,3492.949951,210.600006,1626.500000,543.200012,2286.500000
2022-12-01,3475.649902,1657.099976,2733.550049,4029.350098,3179.350098,145.699997,3499.000000,212.350006,1638.800049,541.250000,2346.600098
2022-12-02,3439.149902,1637.900024,2736.199951,4042.600098,3143.449951,151.699997,3485.600098,220.550003,1642.650024,536.849976,2323.800049
2022-12-05,3425.899902,1639.750000,2733.800049,4056.449951,3156.899902,158.649994,3481.600098,221.050003,1634.199951,546.799988,2322.500000
2022-12-06,3385.350098,1612.900024,2757.199951,4053.149902,3161.699951,158.449997,3456.449951,219.850006,1635.250000,539.799988,2298.000000
2022-12-07,3380.600098,1605.500000,2772.399902,3970.449951,3226.500000,159.550003,3467.649902,214.550003,1606.699951,540.400024,2287.199951
2022-12-08,3350.550049,1620.150024,2761.750000,4015.350098,3221.449951,160.800003,3475.050049,214.250000,1618.599976,531.049988,2289.449951
2022-12-09,3292.750000,1569.300049,2739.649902,4015.000000,3226.949951,156.000000,3452.850098,212.949997,1598.599976,528.200012,2286.149902

In [10]:
tickers=["TCS.NS","INFY.NS","PIDILITIND.NS","NAUKRI.NS","ASIANPAINT.NS","ABCAPITAL.NS","PIIND.NS","MINDACORP.NS","BAJAJFINSV.NS","BORORENEW.NS","ESCORTS.NS"] ## for getting data of multiple stocks 
o_data={}

In [12]:
for ticker in tickers:
    temp=yf.download(ticker,period="1mo",interval="15m")   ## to get data  of selected stocks for 1 months  at a interval of 15 minute
    temp.dropna(how="any",inplace=True)
    o_data[ticker]=temp

def MACD(DF,a=12,b=26,c=9):   ## MACD (moving average crossover divergence  )
    df=DF.copy()
    df["ma_fast"]=df["Adj Close"].ewm(span=a,min_periods =a).mean()
    df["ma_slow"]=df["Adj Close"].ewm(span=b,min_periods =b).mean()
    df["macd"]=df["ma_fast"]-df["ma_slow"]
    df["signal"]=df["macd"].ewm(span=c,min_periods=c).mean()
    return df.loc[:,["macd","signal"]]

for ticker in o_data:
    o_data[ticker][["MACD","SIGNAL"]]=MACD(o_data[ticker])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [70]:
o_data # to get open-high-low-close-Adj close-volume-MACD-SIGNAL    ## to obtain MACD signal as final  output

{'TCS.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  3180.100098  3224.250000  3180.100098  3200.550049
 2022-11-10 09:30:00  3200.399902  3205.300049  3192.149902  3200.149902
 2022-11-10 09:45:00  3200.199951  3206.899902  3198.850098  3202.750000
 2022-11-10 10:00:00  3203.399902  3207.300049  3200.000000  3203.000000
 2022-11-10 10:15:00  3203.149902  3209.600098  3202.100098  3208.050049
 ...                          ...          ...          ...          ...
 2022-12-09 14:15:00  3283.350098  3285.750000  3276.550049  3283.649902
 2022-12-09 14:30:00  3284.000000  3287.649902  3280.500000  3286.000000
 2022-12-09 14:45:00  3286.000000  3292.000000  3283.500000  3286.350098
 2022-12-09 15:00:00  3288.949951  3299.949951  3287.250000  3296.600098
 2022-12-09 15:15:00  3296.649902  3297.500000  3285.000000  3292.750000

                        Adj Close  Volume       MACD     SIGNAL
 Datetime
 2022-11-10 09:15:00  3200.550049  116334        NaN        NaN
 2022-11-10 09:30:00  3200.149902   99607        NaN        NaN
 2022-11-10 09:45:00  3202.750000   34204        NaN        NaN
 2022-11-10 10:00:00  3203.000000   44174        NaN        NaN
 2022-11-10 10:15:00  3208.050049   45298        NaN        NaN
 ...                          ...     ...        ...        ...
 2022-12-09 14:15:00  3283.649902   66008 -16.784446 -16.081220
 2022-12-09 14:30:00  3286.000000   42571 -16.100772 -16.085130
 2022-12-09 14:45:00  3286.350098   41058 -15.353716 -15.938847
 2022-12-09 15:00:00  3296.600098  137822 -13.775782 -15.506234
 2022-12-09 15:15:00  3292.750000  148029 -12.689649 -14.942917

 [550 rows x 8 columns],
 'INFY.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  1491.849976  1505.150024  1491.849976  1503.449951
 2022-11-10 09:30:00  1503.400024  1504.000000  1499.150024  1502.750000
 2022-11-10 09:45:00  1503.000000  1504.900024  1501.949951  1503.949951
 2022-11-10 10:00:00  1503.949951  1504.699951  1502.599976  1503.199951
 2022-11-10 10:15:00  1503.000000  1503.949951  1501.699951  1503.199951
 ...                          ...          ...          ...          ...
 2022-12-09 14:30:00  1568.050049  1569.000000  1565.800049  1568.699951
 2022-12-09 14:45:00  1568.750000  1572.650024  1568.750000  1570.550049
 2022-12-09 15:00:00  1571.400024  1573.949951  1566.900024  1570.300049
 2022-12-09 15:15:00  1570.250000  1570.900024  1566.050049  1568.000000
 2022-12-09 15:30:00  1569.300049  1569.300049  1569.300049  1569.300049

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  1503.449951  207251       NaN       NaN
 2022-11-10 09:30:00  1502.750000  181506       NaN       NaN
 2022-11-10 09:45:00  1503.949951  106163       NaN       NaN
 2022-11-10 10:00:00  1503.199951   59321       NaN       NaN
 2022-11-10 10:15:00  1503.199951   74046       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:30:00  1568.699951  251415 -9.177502 -9.624634
 2022-12-09 14:45:00  1570.550049  315804 -8.563419 -9.412391
 2022-12-09 15:00:00  1570.300049  593724 -8.004655 -9.130844
 2022-12-09 15:15:00  1568.000000  485913 -7.659135 -8.836502
 2022-12-09 15:30:00  1569.300049       0 -7.197438 -8.508689

 [551 rows x 8 columns],
 'PIDILITIND.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  2614.000000  2671.949951  2605.399902  2659.800049
 2022-11-10 09:30:00  2659.699951  2659.699951  2625.050049  2628.300049
 2022-11-10 09:45:00  2628.300049  2631.149902  2615.000000  2616.399902
 2022-11-10 10:00:00  2617.000000  2634.000000  2615.000000  2624.250000
 2022-11-10 10:15:00  2624.250000  2626.250000  2621.000000  2622.050049
 ...                          ...          ...          ...          ...
 2022-12-09 14:15:00  2728.050049  2731.050049  2720.699951  2726.949951
 2022-12-09 14:30:00  2726.899902  2739.899902  2726.899902  2737.000000
 2022-12-09 14:45:00  2736.699951  2739.949951  2734.000000  2738.000000
 2022-12-09 15:00:00  2738.600098  2743.649902  2736.050049  2740.050049
 2022-12-09 15:15:00  2740.050049  2743.000000  2735.000000  2739.649902

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  2659.800049   68978       NaN       NaN
 2022-11-10 09:30:00  2628.300049   48556       NaN       NaN
 2022-11-10 09:45:00  2616.399902   24419       NaN       NaN
 2022-11-10 10:00:00  2624.250000   16398       NaN       NaN
 2022-11-10 10:15:00  2622.050049    7155       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:15:00  2726.949951   13642 -9.040107 -8.153447
 2022-12-09 14:30:00  2737.000000    8829 -8.111932 -8.145144
 2022-12-09 14:45:00  2738.000000    9463 -7.212514 -7.958618
 2022-12-09 15:00:00  2740.050049   24220 -6.262111 -7.619317
 2022-12-09 15:15:00  2739.649902   27928 -5.478051 -7.191063

 [550 rows x 8 columns],
 'NAUKRI.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  3882.800049  3893.000000  3851.699951  3864.399902
 2022-11-10 09:30:00  3864.949951  3882.350098  3860.100098  3878.699951
 2022-11-10 09:45:00  3878.550049  3892.000000  3875.449951  3877.000000
 2022-11-10 10:00:00  3874.000000  3883.300049  3871.199951  3875.500000
 2022-11-10 10:15:00  3874.800049  3884.399902  3868.000000  3883.550049
 ...                          ...          ...          ...          ...
 2022-12-09 14:15:00  4006.000000  4011.399902  4000.250000  4005.750000
 2022-12-09 14:30:00  4006.050049  4013.300049  4003.000000  4008.850098
 2022-12-09 14:45:00  4009.000000  4015.949951  4007.649902  4011.649902
 2022-12-09 15:00:00  4015.000000  4019.699951  4009.699951  4015.050049
 2022-12-09 15:15:00  4015.600098  4018.850098  4012.550049  4015.000000

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  3864.399902    7938       NaN       NaN
 2022-11-10 09:30:00  3878.699951    5459       NaN       NaN
 2022-11-10 09:45:00  3877.000000    8639       NaN       NaN
 2022-11-10 10:00:00  3875.500000    4631       NaN       NaN
 2022-11-10 10:15:00  3883.550049    2501       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:15:00  4005.750000    7360 -3.752558 -1.451040
 2022-12-09 14:30:00  4008.850098    3562 -3.746278 -1.910087
 2022-12-09 14:45:00  4011.649902    4991 -3.475318 -2.223133
 2022-12-09 15:00:00  4015.050049   60209 -2.952186 -2.368944
 2022-12-09 15:15:00  4015.000000   17925 -2.512675 -2.397690

 [550 rows x 8 columns],
 'ASIANPAINT.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  3085.949951  3085.949951  3065.100098  3076.050049
 2022-11-10 09:30:00  3075.949951  3081.300049  3055.000000  3059.350098
 2022-11-10 09:45:00  3059.000000  3059.750000  3047.000000  3054.449951
 2022-11-10 10:00:00  3056.449951  3059.899902  3053.149902  3055.050049
 2022-11-10 10:15:00  3054.000000  3058.000000  3052.000000  3054.149902
 ...                          ...          ...          ...          ...
 2022-12-09 14:15:00  3225.449951  3225.899902  3206.000000  3220.000000
 2022-12-09 14:30:00  3218.949951  3226.000000  3217.750000  3222.300049
 2022-12-09 14:45:00  3222.250000  3227.399902  3219.649902  3226.000000
 2022-12-09 15:00:00  3226.050049  3230.500000  3222.000000  3228.949951
 2022-12-09 15:15:00  3228.949951  3229.350098  3223.300049  3226.949951

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  3076.050049   79987       NaN       NaN
 2022-11-10 09:30:00  3059.350098  115157       NaN       NaN
 2022-11-10 09:45:00  3054.449951   72247       NaN       NaN
 2022-11-10 10:00:00  3055.050049   82191       NaN       NaN
 2022-11-10 10:15:00  3054.149902   25874       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:15:00  3220.000000   66310  1.804943  3.682507
 2022-12-09 14:30:00  3222.300049   34683  1.205804  3.187167
 2022-12-09 14:45:00  3226.000000   33929  1.017805  2.753294
 2022-12-09 15:00:00  3228.949951   73628  1.094237  2.421483
 2022-12-09 15:15:00  3226.949951   74971  0.982105  2.133607

 [550 rows x 8 columns],
 'ABCAPITAL.NS':                            Open        High         Low       Close  \
 Datetime
 2022-11-10 09:15:00  129.500000  133.449997  129.500000  133.000000
 2022-11-10 09:30:00  133.050003  133.199997  131.500000  132.199997
 2022-11-10 09:45:00  132.100006  132.699997  131.850006  132.149994
 2022-11-10 10:00:00  132.000000  132.649994  131.500000  131.500000
 2022-11-10 10:15:00  131.500000  131.699997  131.250000  131.250000
 ...                         ...         ...         ...         ...
 2022-12-09 14:15:00  154.350006  154.350006  153.350006  153.600006
 2022-12-09 14:30:00  153.649994  154.350006  153.550003  154.300003
 2022-12-09 14:45:00  154.250000  155.000000  154.250000  154.750000
 2022-12-09 15:00:00  154.949997  156.250000  154.850006  156.100006
 2022-12-09 15:15:00  156.199997  156.449997  155.949997  156.000000

                       Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  133.000000  744311       NaN       NaN
 2022-11-10 09:30:00  132.199997  461900       NaN       NaN
 2022-11-10 09:45:00  132.149994  288201       NaN       NaN
 2022-11-10 10:00:00  131.500000  241321       NaN       NaN
 2022-11-10 10:15:00  131.250000  131796       NaN       NaN
 ...                         ...     ...       ...       ...
 2022-12-09 14:15:00  153.600006  401366 -1.387439 -1.195926
 2022-12-09 14:30:00  154.300003  181132 -1.375123 -1.231765
 2022-12-09 14:45:00  154.750000  337688 -1.313906 -1.248193
 2022-12-09 15:00:00  156.100006  493467 -1.143278 -1.227210
 2022-12-09 15:15:00  156.000000  535639 -1.004543 -1.182677

 [550 rows x 8 columns],
 'PIIND.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  3625.000000  3674.850098  3619.750000  3652.000000
 2022-11-10 09:30:00  3652.600098  3658.600098  3566.199951  3610.100098
 2022-11-10 09:45:00  3611.600098  3611.600098  3581.500000  3581.500000
 2022-11-10 10:00:00  3582.899902  3598.000000  3571.000000  3574.250000
 2022-11-10 10:15:00  3576.649902  3588.550049  3571.000000  3573.000000
 ...                          ...          ...          ...          ...
 2022-12-09 14:15:00  3443.199951  3445.000000  3427.699951  3440.000000
 2022-12-09 14:30:00  3440.000000  3445.000000  3440.000000  3444.899902
 2022-12-09 14:45:00  3445.000000  3449.949951  3440.000000  3443.000000
 2022-12-09 15:00:00  3446.800049  3460.000000  3445.000000  3455.449951
 2022-12-09 15:15:00  3456.449951  3460.000000  3444.850098  3452.850098

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  3652.000000   54674       NaN       NaN
 2022-11-10 09:30:00  3610.100098   87190       NaN       NaN
 2022-11-10 09:45:00  3581.500000   17009       NaN       NaN
 2022-11-10 10:00:00  3574.250000   23164       NaN       NaN
 2022-11-10 10:15:00  3573.000000   11572       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:15:00  3440.000000    8705 -6.601630 -2.364458
 2022-12-09 14:30:00  3444.899902    2537 -7.179362 -3.327439
 2022-12-09 14:45:00  3443.000000    5598 -7.701744 -4.202300
 2022-12-09 15:00:00  3455.449951    9238 -7.030090 -4.767858
 2022-12-09 15:15:00  3452.850098   10677 -6.631146 -5.140516

 [550 rows x 8 columns],
 'MINDACORP.NS':                            Open        High         Low       Close  \
 Datetime
 2022-11-10 09:15:00  209.850006  209.850006  207.649994  208.000000
 2022-11-10 09:30:00  208.000000  208.000000  207.300003  207.800003
 2022-11-10 09:45:00  207.649994  208.000000  207.250000  207.300003
 2022-11-10 10:00:00  207.500000  208.000000  207.350006  207.500000
 2022-11-10 10:15:00  207.250000  207.850006  207.199997  207.250000
 ...                         ...         ...         ...         ...
 2022-12-09 14:30:00  210.300003  210.699997  209.149994  210.699997
 2022-12-09 14:45:00  210.699997  211.750000  210.050003  211.199997
 2022-12-09 15:00:00  211.199997  214.000000  211.000000  213.500000
 2022-12-09 15:15:00  213.399994  213.949997  212.000000  213.949997
 2022-12-09 15:30:00  212.949997  212.949997  212.949997  212.949997

                       Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  208.000000   42521       NaN       NaN
 2022-11-10 09:30:00  207.800003   26278       NaN       NaN
 2022-11-10 09:45:00  207.300003   23670       NaN       NaN
 2022-11-10 10:00:00  207.500000    5946       NaN       NaN
 2022-11-10 10:15:00  207.250000    6368       NaN       NaN
 ...                         ...     ...       ...       ...
 2022-12-09 14:30:00  210.699997   23829 -0.899349 -0.585618
 2022-12-09 14:45:00  211.199997   11380 -0.933638 -0.655222
 2022-12-09 15:00:00  213.500000   17762 -0.766387 -0.677455
 2022-12-09 15:15:00  213.949997   14224 -0.590719 -0.660108
 2022-12-09 15:30:00  212.949997       0 -0.526128 -0.633312

 [551 rows x 8 columns],
 'BAJAJFINSV.NS':                             Open         High          Low        Close  \
 Datetime
 2022-11-10 09:15:00  1744.949951  1751.800049  1740.550049  1743.000000
 2022-11-10 09:30:00  1743.599976  1745.000000  1728.150024  1732.000000
 2022-11-10 09:45:00  1731.300049  1732.500000  1727.000000  1727.599976
 2022-11-10 10:00:00  1727.000000  1731.699951  1725.250000  1727.849976
 2022-11-10 10:15:00  1727.849976  1728.650024  1723.400024  1724.900024
 ...                          ...          ...          ...          ...
 2022-12-09 14:30:00  1585.699951  1588.900024  1584.000000  1588.300049
 2022-12-09 14:45:00  1587.699951  1594.000000  1587.699951  1594.000000
 2022-12-09 15:00:00  1594.000000  1603.300049  1594.000000  1600.949951
 2022-12-09 15:15:00  1601.000000  1601.949951  1594.099976  1595.849976
 2022-12-09 15:30:00  1598.599976  1598.599976  1598.599976  1598.599976

                        Adj Close  Volume      MACD    SIGNAL
 Datetime
 2022-11-10 09:15:00  1743.000000   59537       NaN       NaN
 2022-11-10 09:30:00  1732.000000  127089       NaN       NaN
 2022-11-10 09:45:00  1727.599976   60845       NaN       NaN
 2022-11-10 10:00:00  1727.849976   55842       NaN       NaN
 2022-11-10 10:15:00  1724.900024   53330       NaN       NaN
 ...                          ...     ...       ...       ...
 2022-12-09 14:30:00  1588.300049   60201 -6.762654 -5.478421
 2022-12-09 14:45:00  1594.000000   61762 -6.207174 -5.624171
 2022-12-09 15:00:00  1600.949951  110158 -5.146820 -5.528701
 2022-12-09 15:15:00  1595.849976  118403 -4.664241 -5.355809
 2022-12-09 15:30:00  1598.599976       0 -4.013625 -5.087372

 [551 rows x 8 columns]}